<i class="fa fa-bars icon-menu" aria-hidden="true" id="btn-sidenav-demo"></i>
<mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'" #sidenav>
  <mz-sidenav-header>
    <li class="sidenav-header"><span class="username">USUÁRIO</span> </li>
  </mz-sidenav-header>

  <mz-sidenav-link (click)="sidenav.opened = !sidenav.opened">
    <a class="waves-effect"><i class="fa fa-address-book-o icon-sidebar" aria-hidden="true"></i><span class="">Criar Tarefas</span></a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link (click)="sidenav.opened = !sidenav.opened">
    <a class="waves-effect"><i class="fa fa-list-ol icon-sidebar" aria-hidden="true"></i><span class="">Visualizar Tarefas</span></a>
  </mz-sidenav-link>

</mz-sidenav>
