<i class="fa fa-bars icon-menu" aria-hidden="true" id="btn-sidenav-demo"></i>
<mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'" #sidenav>
  <mz-sidenav-header>
    <div class="user-view">
      <img class="circle avatar" src="../../../assets/img/user.jpg">
      <div class="white-text name">King Nobody</div>
      <div class="white-text email">king.nobody@gmail.com</div>
    </div>
  </mz-sidenav-header>
  <mz-sidenav-link (click)="sidenav.opened = !sidenav.opened">
    <a [routerLink]="['/dashboard']" routerLinkActive="[active]='true'" class="waves-effect"><i class="fa fa-th icon-sidebar" aria-hidden="true"></i><span class="">Inicio</span></a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link (click)="sidenav.opened = !sidenav.opened">
    <a [routerLink]="['/']" routerLinkActive="[active]='true'" class="waves-effect"><i class="fa fa-address-book-o icon-sidebar" aria-hidden="true"></i><span class="">Criar
        Tarefas</span></a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link (click)="sidenav.opened = !sidenav.opened">
    <a [routerLink]="['/']" routerLinkActive="[active]='true'" class="waves-effect"><i class="fa fa-list-ol icon-sidebar" aria-hidden="true"></i><span class="">Visualizar
        Tarefas</span></a>
  </mz-sidenav-link>

</mz-sidenav>
