.brand-logo {
  font-size: 22px;
  margin-left: 10px;
}

.nav-wrapper{
  background-color: #1976d2;
}

.drop{
  background-color: #1976d2 !important;
}

.mr-5{
  margin-right: 5px;
}

.size-icon{
  font-size: 28px;
}

