<div class="template-dashboard">

  <div class="row">
    <div class="col s6">
      <mz-card class="black-text" [horizontal]="true" [hoverable]="true">
        <mz-card-image>
          <i class="fa fa-address-book-o icon-card" aria-hidden="true"></i>
        </mz-card-image>
        <mz-card-title>
          Criação de Tarefas
        </mz-card-title>
        <mz-card-content>
          Que organizar suas tarefas? Aqui você pode criar um titulo principal, data de início e termíno e uma descrição sobre ela, gostou? então vamos lá!
        </mz-card-content>
        <mz-card-action>
          <a [routerLink]="['/task']" routerLinkActive="[active]='true'">Vamos lá</a>
        </mz-card-action>
      </mz-card>
    </div>
    <div class="col s6">
      <mz-card class="black-text" [horizontal]="true" [hoverable]="true">
        <mz-card-image>
            <i class="fa fa-list-ol icon-card" aria-hidden="true"></i>
        </mz-card-image>
        <mz-card-title>
          Visualização de Tarefas
        </mz-card-title>
        <mz-card-content>
          Aqui você tem suas tarefas reunidas em uma tabela para realizar pesquisas, com seu titulo, eae, gostou? bora ir pra lá!
        </mz-card-content>
        <mz-card-action>
          <a [routerLink]="['/task']" routerLinkActive="[active]='true'">Ir pra lá</a>
        </mz-card-action>
      </mz-card>
    </div>
  </div>

</div>
