/* You can add global styles to this file, and also import other style files */
.content-position{
  display: flex;
  justify-content: center;
}

.content-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.pagination li.active {
  background-color: #1976d2;
}
