/* You can add global styles to this file, and also import other style files */
.content-position {
  display: flex;
  justify-content: center;
}

.content-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pagination li.active {
  background-color: #1976d2;
}

.content-position__end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input:not([type]):focus:not([readonly]),
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='url']:not(.browser-default):focus:not([readonly]),
input[type='time']:not(.browser-default):focus:not([readonly]),
input[type='date']:not(.browser-default):focus:not([readonly]),
input[type='datetime']:not(.browser-default):focus:not([readonly]),
input[type='datetime-local']:not(.browser-default):focus:not([readonly]),
input[type='tel']:not(.browser-default):focus:not([readonly]),
input[type='number']:not(.browser-default):focus:not([readonly]),
input[type='search']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}


.dropdown-content li>a, .dropdown-content li>span {
  color: #1976d2;
}

.side-nav .user-view, .side-nav .userView {
  background-color: #1976d2;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #1976d2;
  font-weight: bold;
}
